.gitattributes !filter !diff
*.key filter=git-crypt diff=git-crypt
*.jks filter=git-crypt diff=git-crypt
signing-cert.p12 filter=git-crypt diff=git-crypt
apple-distribution.p12 filter=git-crypt diff=git-crypt
google-services.json filter=git-crypt diff=git-crypt
GoogleService-Info.plist filter=git-crypt diff=git-crypt
key.jks filter=git-crypt diff=git-crypt
key.properties filter=git-crypt diff=git-crypt
AndroidManifest.xml filter=git-crypt diff=git-crypt
AppDelegate.swift filter=git-crypt diff=git-crypt
secret.dart filter=git-crypt diff=git-crypt